
<div class="row">
<div class="detail">
    <div class="detail-header">
      <div class="title">
        {{poke?.name}}
      </div>
      <div class="btn-add">
        <div class="col-6">
          <button class="btn btn-primary" (click)="onNavImageClick();">
            <i class="fa fa-list-ul"></i> Agregar una Colección
          </button>
          <div class="user-window panel"  [@popupAnimation]="popupState" [ngClass]="((popupState == 'closed') ? 'user-window-hidden': '')" (click)="onNavImageClick();">
            <div style="align-self: center;">
              <div class="row">
                <ul class="form-group">
                  <li *ngFor="let collection of listCollections | async">
                    <button class="btn btn-primary" style="color: black" [value]='collection.key' (click)="addToCollection($event)">{{collection.name}}</button> 
                    <br>
                  </li>
                </ul>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <img class="detail-img-top img-detail" src="{{poke?.sprites.front_default}}" />
    <div class="detail-body">
      <div class="row">
        <div class="col-12">
            <h5 class="detail-text">
              <b>Detalle:</b> {{description}}
            </h5>
        </div>
        <div class="col-12">
            <h5 class="detail-text">
              <b>Habilidades:</b>
            </h5>
        </div>
        <div class="col-12">
          <span *ngFor="let ab of poke?.abilities" class="badge badge-pill badge-success">{{ab?.ability.name}}</span>
        </div>
      </div>
      <div class="row">
          <div class="col-12">
                  <h5 class="detail-text">
                  <b>Peso:</b>
                  </h5>
          </div>
          <div class="col-12">
            {{poke?.weight}}
          </div>
      </div>
      <div class="row">
          <div class="col-12">
                  <h5 class="detail-text">
                  <b>Altura:</b>
                  </h5>
          </div>
          <div class="col-12">
            {{poke?.height}}
          </div>
      </div>

      <div class="row">
          <div class="col-12">
                  <h5 class="detail-text">
                  <b>Tipo:</b>
                  </h5>
          </div>
          <div class="col-12">
              <span *ngFor="let t of poke?.types" class="badge badge-pill badge-success">{{t.type.name}}</span>
            </div>
      </div>
      
    </div>
  </div>
</div>






