h1 {
	color: var(--main-style-color);
	font-size: 2em;
	font-weight: bold;
}

.book-image {
	width: 300px;
}

.user-window{
        color: white;
        position: absolute;
        width: 200px;
        height: 200px !important;
        z-index: 999;
}

.user-window .btn{
        width: 100%;
        background-color: white;
        color: #367fa9;
}

.btn:hover, .btn:focus {
        background-color: #0074A9 !important;
        outline: none !important;
        color: white !important;
}